#header1{
    color: darkmagenta;
}
#header2{
    color: hotpink;
}
#main1{
    background-color: darkorchid;
}
#main2{
    background-color: blueviolet;
}
#footer1{
    color: brown;
}
#footer2{
    color: purple;
}